<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>com.easycart</display-name>
  <welcome-file-list>
    <welcome-file>Register.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>com.easycart.registration.RegistrationServlet</servlet-class>
  </servlet>
   <servlet-mapping>
   <servlet-name>Register</servlet-name>
   <url-pattern>/verify</url-pattern>
   </servlet-mapping>
    <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>com.easycart.login.LoginServlet</servlet-class>
  </servlet>
   <servlet-mapping>
   <servlet-name>Login</servlet-name>
   <url-pattern>/Log</url-pattern>
   </servlet-mapping>
  <servlet>
  <servlet-name>Resets</servlet-name>
  <servlet-class>com.easycart.ResetPassword.ResetPasswordServlet</servlet-class>
  </servlet>
   <servlet-mapping>
   <servlet-name>Resets</servlet-name>
   <url-pattern>/Reset</url-pattern>
   </servlet-mapping>
   <servlet>
  <servlet-name>Category</servlet-name>
  <servlet-class>com.easycart.Admin.AddCategoryServlet</servlet-class>
  </servlet>
   <servlet-mapping>
   <servlet-name>Category</servlet-name>
   <url-pattern>/cat</url-pattern>
   </servlet-mapping>
   <servlet>
  <servlet-name>Item</servlet-name>
  <servlet-class>com.easycart.Admin.AddItemServlet</servlet-class>
  </servlet>
   <servlet-mapping>
   <servlet-name>Item</servlet-name>
   <url-pattern>/item</url-pattern>
   </servlet-mapping>
    <servlet>
  <servlet-name>Details</servlet-name>
  <servlet-class>com.easycart.Admin.AddDetailsServlet</servlet-class>
  </servlet>
   <servlet-mapping>
   <servlet-name>Item</servlet-name>
   <url-pattern>/details</url-pattern>
   </servlet-mapping>
</web-app>